.singleJob {
	width: 600px;
	margin: auto;
	border: 1px solid black;
	background: #384750;
	color: white;
	margin-top: 50px;
}

.singleHead {
	text-align: center;
	border-bottom: 1px solid black; 
}

.singleBody {
	margin: 15px;
}

.jobImage {
	min-width: 567px;
	min-height: 600px;
}

.cancelButton {
	cursor: pointer;
	margin-right: 20px;
}

.confirmJob {
	cursor: pointer;
}