@import url(http://weloveiconfonts.com/api/?family=entypo);

/* entypo */
[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;
}
.entypo-down-open-mini {
	height: 18px;
	border-radius: 5px;
	background: none;
	color: white;
}

.entypo-up-open-mini {
	height: 18px;
	border-radius: 5px;
	background: none;
	color: white;
}

li {
	list-style-type: none;
}

#moverMain {
	margin-top: 80px;
	width: 100%;
	text-align: center;
}

#moverMain h2 {
	color: white;
	text-shadow: 2px 2px #000;
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 30px;
}

.jobList {
	margin: auto;
	width: 600px;
}

.jobBox {
	display: flex;
	flex-direction: row;
	height: 51px;
	border-bottom: 1px solid black;
}

.titleBox {
	height: 50px;
	line-height: 50px;
	width: 150px;
	padding-left: 10px;
	padding-right: 10px;
	overflow: hidden;
  	text-overflow: ellipsis;
  	background: #384750;
    color: #ddd;
}

.priceBox {
	height: 50px;
	line-height: 50px;
	width: 100px;
	border-left: 1px solid black;
	border-right: 1px solid black;
	padding-left: 10px;
	padding-right: 10px;
	overflow: hidden;
  	text-overflow: ellipsis;
  	background: #384750;
    color: #ddd;
}

.distanceBox {
	height: 50px;
	line-height: 50px;
	width: 150px;
	border-right: 1px solid black;
	padding-left: 10px;
	padding-right: 10px;
	overflow: hidden;
  	text-overflow: ellipsis;
  	background: #384750;
    color: #ddd;
}

.jobView {
	width: 199px;
	cursor: pointer;
	background: #384750;
    color: #ddd;
    border:none;
    outline:none;
}

.jobView:hover {
	background:#335A6D;
}

.locButton {
	margin-bottom: 10px;
}

#sortBy {
	margin-bottom: 10px;
}

.titleTable {
	height: 50px;
	width: 120px;
	padding-left: 10px;
	padding-right: 10px;
	overflow: hidden;
  	text-overflow: ellipsis;
  	background: #384750;
    color: #ddd;
    border-bottom: 1px solid black;
    line-height: 50px;
}

.priceTable {
	height: 50px;
	width: 82px;
	border-left: 1px solid black;
	border-bottom: 1px solid black;
	border-right: 1px solid black;
	padding-left: 10px;
	padding-right: 10px;
	overflow: hidden;
  	text-overflow: ellipsis;
  	background: #384750;
    color: #ddd;
    line-height: 15px;
}

.distanceTable {
	height: 50px;
    width: 121px;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    padding-left: 10px;
    padding-right: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    background: #384750;
    color: #ddd;
    line-height: 15px;
    font-size: 15px;
}

.tripTable{
	height: 50px;
	width: 119px;
	border-bottom: 1px solid black;
	padding-left: 10px;
	padding-right: 10px;
	overflow: hidden;
  	text-overflow: ellipsis;
  	background: #384750;
    color: #ddd;
    line-height: 15px;
}

.infoTable{
	height: 50px;
	line-height: 50px;
	width: 158px;
	background: #384750;
    color: #ddd;
    border:none;
    outline:none;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
}
.tableHead {
	display: -webkit-box;
}


