li {
	list-style-type: none;
}

#moverMain {
	margin-top: 80px;
	width: 100%;
	text-align: center;
}

.jobList {
	margin: auto;
	width: 600px;
}

.jobBox {
	display: flex;
	flex-direction: row;
	height: 51px;
	border-bottom: 1px solid black;
}

.titleBox {
	height: 50px;
	line-height: 50px;
	width: 150px;
	padding-left: 10px;
	padding-right: 10px;
	overflow: hidden;
  	text-overflow: ellipsis;
  	background: #384750;
    color: #ddd;
}

.priceBox {
	height: 50px;
	line-height: 50px;
	width: 100px;
	border-left: 1px solid black;
	border-right: 1px solid black;
	padding-left: 10px;
	padding-right: 10px;
	overflow: hidden;
  	text-overflow: ellipsis;
  	background: #384750;
    color: #ddd;
}

.distanceBox {
	height: 50px;
	line-height: 50px;
	width: 150px;
	border-right: 1px solid black;
	padding-left: 10px;
	padding-right: 10px;
	overflow: hidden;
  	text-overflow: ellipsis;
  	background: #384750;
    color: #ddd;
}

.jobView {
	width: 199px;
	cursor: pointer;
	background: #384750;
    color: #ddd;
    border:none;
    outline:none;
}

.jobView:hover {
	background:#335A6D;
}

.locButton {
	margin-bottom: 10px;
}

#sortBy {
	margin-bottom: 10px;
}



