.MprogressBox {
	width: 600px;
	margin: auto;
	margin-top: 40px;
	background: #384750;
	text-align: center;
	border-radius: 12px;
	padding: 10px;
	box-shadow: 0px 2px 12px;
	position: relative;
}

.MprogressHead {
	color: white;
	text-shadow: 2px 2px #000;
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 30px;
}

.MjobBox {
	margin: 10px;
	width: 500px;
	margin: 8px;
	text-align: left;
	padding: 10px;
}

.MtitleBox {
	color: white;
	padding-top: 10px;
    padding-left: 10px;
}

.MpriceBox {
	color: white;
	padding-top: 10px;
    padding-left: 10px;
}

.MlocationBox {
	color: white;
	padding-top: 10px;
    padding-left: 10px;
}

.MdestinationBox {
	color: white;
	padding-top: 10px;
    padding-left: 10px;
}

.MphoneBox {
	color: white;
	padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 15px;
}

.MstatusBox {
	color: white;
	padding-top: 10px;
    padding-left: 10px;
}

.Mtitle, .Mprice, .Mlocation, .Mdestination, .Mphone, .Mstatus {
	color: white;
	border-bottom: solid 1px white;
  	display: inline;
	padding-bottom: 1px;
}

.Mreport {
	background: #EA2150;
	color: white;
	cursor: pointer;
	height: 38px;
	width: 50%;
	border-bottom-left-radius: 6px;
	margin-top: 10px;
	position: absolute;
	left: 0;
	bottom: 0;
	border: none;
	outline: none;
}


.Mreport:hover {
	background:#6F0E25;
}

.Mcomplete:hover{
	background:#18760E;
}

.Mcomplete {
	background: #1FE500;
    color: white;
	cursor: pointer;
	height: 38px;
	width: 50%;
	border-bottom-right-radius: 6px;
	margin-top: 10px;
	position: absolute;
	right: 0;
	bottom: 0;
	border: none;
	outline: none;

}

.McompleteGray {
	background: gray;
	color: lightgray;
    color: white;
	cursor: pointer;
	height: 38px;
	width: 50%;
	border-bottom-right-radius: 6px;
	margin-top: 10px;
	position: absolute;
	right: 0;
	bottom: 0;
	border: none;
	outline: none;
}