.nav {
	height: 100px;
	width: 100%;
	background: #384750;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.logo {
	height: 100px;
    width: 160px;
    cursor: pointer
}

.profile {
	height: 100px;
	width: 240px;
	padding-top: 32px;
	padding-right: 30px;
	text-align: right;
}

.userTag {
	color: white;
	font-size: 24px;
	position: relative;
}

.settingsTag {
	color: white;
	position: relative;
	top: 22px;
	font-size: 16px;
	text-decoration: none;
}

.profileTag {
	color: white;
	text-decoration: none;
	font-size: 16px;
}

.profileTag:visited {
	color: white;
	
}

.historyTag {
	color: white;
	position: relative;
	font-size: 16px;
	text-decoration: none;
}

.historyTag:visited {
	color: white;
}

.logoutTag {
	color: white;
	position: relative;
	font-size: 16px;
	text-decoration: none;
}

.logoutTag:visited {
	color: white;
}

.dropdown {
	background: rgb(22, 28, 31);
    background: rgba(22, 28, 31, .50);
    display: none;
    z-index: 999;
    right: -91px;
    position: relative;
    top: 6px;
    width: 150px;
    border-radius: 0 0 20px 20px;
}

.settingsUL {
	color: white;
	padding-left: 0px;
}

.settingsUL:hover > ul {
	display: block;
}

.dropdown:hover {
	display: block;
}

.dropdown > li {
	padding: 10px;
	margin-left: -36px;
	text-align: right;
	padding-right: 35px;
	color: black;
	width: 147px;
}

.dropdown > li > a:hover {
	background-color: purple;
}