.nav {
	height: 100px;
	width: 100%;
	background: #384750;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.logo {
	height: 100px;
    width: 160px;
    cursor: pointer;
}

.profile {
	height: 100px;
	width: 240px;
	padding-top: 20px;
}

.userTag {
	color: white;
	font-size: 24px;
}

.settingsTag {
	color: white;
	position: relative;
	top: 22px;
	font-size: 16px;
}

.profileTag {
	color: white;
	font-size: 16px;
}

.profileTag:visited {
	color: white;
}

.historyTag {
	color: white;
	position: relative;
	font-size: 16px;
}

.historyTag:visited {
	color: white;
}

.logoutTag {
	color: white;
	position: relative;
	font-size: 16px;
}

.logoutTag:visited {
	color: white;
}

.dropdown {
	background: green;
	display: none;
}

.settingsUL {
	color: white;
}

.settingsUL:hover > ul {
	display: block;
}

.dropdown:hover {
	display: block;
}

.dropdown > li {
	border: 1px solid black;
	padding: 6px;
	margin-left: -41px;
}