#newjob {
	border: 1px solid black;
	background: #384750;
	margin: auto;
	width: 800px;
	margin-top: 100px;
	text-align: center;
}

.jobTitle {
	width: 400px;
	margin: auto;
	text-indent: 21px;
	margin-bottom: 20px;
	box-shadow: 2px 6px 12px;
	height: 30px;
}

.desc {
	width: 400px;
	margin: auto;
	text-indent: 5px;
	margin-bottom: 20px;
	box-shadow: 2px 6px 12px;
	height: 100px;
	overflow: auto;
	text-indent: 21px;
}

::-webkit-input-placeholder {
  text-indent: 40px;
}

.price {
	width: 400px;
	margin: auto;
	text-indent: 21px;
	margin-bottom: 20px;
	box-shadow: 2px 6px 12px;
	height: 30px;
}

.image_url {
	display: none;
}

.location {
	width: 400px;
	margin: auto;
	text-indent: 21px;
	margin-bottom: 35px;
	box-shadow: 2px 6px 12px;
	height: 30px;
}

.destination {
	width: 400px;
	margin: auto;
	text-indent: 21px;
	margin-bottom: 20px;
	box-shadow: 2px 6px 12px;
	height: 30px;
}

.phone{
	width: 400px;
	margin: auto;
	text-indent: 21px;
	margin-bottom: 20px;
	box-shadow: 2px 6px 12px;
	height: 30px;
}

.pickupTitle{
	width: 400px;
	margin: auto;
	text-indent: 21px;
	margin-bottom: 20px;
	box-shadow: 2px 6px 12px;
	height: 30px;
}

#jobLabel {
	position: relative;
    right: 169px;
    bottom: 10px;
    color: white;
}

#descLabel {
	position: relative;
    right: 159px;
    bottom: 10px;
    color: white;
}

#priceLabel {
	position: relative;
    right: 180px;
    bottom: 10px;
    color: white;
}

#imageLabel {
	position: relative;
    right: 177px;
    bottom: 10px;
    color: white;
}

#locationLabel {
	position: relative;
    right: 171px;
    bottom: 10px;
    color: white;
}

#destinationLabel {
	position: relative;
    right: 162px;
    bottom: 10px;
    color: white;
}

#phoneLabel {
	position: relative;
    right: 147px;
    bottom: 10px;
    color: white;
}

#pickupLabel {
	position: relative;
    right: 179px;
    bottom: 10px;
    color: white;
}

.jobHead {
	color: white;
    position: relative;
    top: -25px;
    text-shadow: 2px 2px #000;
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 30px;
}

.jobSub {
	margin-bottom: 20px;
}

.continue1, .continue2, .jobSub {
	margin-left: 120px;
	margin-bottom: 30px;
    width: 130px;
    height: 30px;
    box-shadow: 1px 5px 10px;
}

.auto1, .auto2, .auto3 {
	width: 112px;
    height: 30px;
    box-shadow: 1px 5px 10px;
}

.cloudinary-fileupload{
	background: white;
	width: 400px;
	margin: auto;
	margin-bottom: 20px;
	box-shadow: 1px 5px 10px;
	height: 30px;
	line-height: 25px;
}