.updateForm {
	border: 1px solid black;
	background: #384750;
	margin: auto;
	width: 800px;
	margin-top: 100px;
	text-align: center;
}

.updateHead {
	color: white;
}

.fname {
	width: 400px;
	margin: auto;
	text-indent: 40px;
	margin-bottom: 20px;
	box-shadow: 2px 6px 12px;
	height: 30px;
}

.lname {
	width: 400px;
	margin: auto;
	text-indent: 40px;
	margin-bottom: 20px;
	box-shadow: 2px 6px 12px;
	height: 30px;
}

#dob_day {
	width: 120px;
	margin: auto;
	text-indent: 31px;
	margin-bottom: 20px;
	box-shadow: 2px 6px 12px;
	height: 30px;
}

#dob_month {
	width: 120px;
	margin: auto;
	text-indent: 31px;
	margin-bottom: 20px;
	box-shadow: 2px 6px 12px;
	height: 30px;
	margin-left: 15px;
	margin-right: 15px;
}

.dob_year {
	width: 120px;
	margin: auto;
	text-indent: 40px;
	margin-bottom: 20px;
	box-shadow: 2px 6px 12px;
	height: 30px;
}
.address_line_1 {
	width: 400px;
	margin: auto;
	text-indent: 40px;
	margin-bottom: 20px;
	box-shadow: 2px 6px 12px;
	height: 30px;
}

.address_line_2 {
	width: 400px;
	margin: auto;
	text-indent: 40px;
	margin-bottom: 20px;
	box-shadow: 2px 6px 12px;
	height: 30px;
}

.address_city {
	width: 400px;
	margin: auto;
	text-indent: 40px;
	margin-bottom: 20px;
	box-shadow: 2px 6px 12px;
	height: 30px;
}

#address_state {
	width: 400px;
	margin: auto;
	text-indent: 31px;
	margin-bottom: 20px;
	box-shadow: 2px 6px 12px;
	height: 30px;
}

.postal_code {
	width: 400px;
	margin: auto;
	text-indent: 40px;
	margin-bottom: 20px;
	box-shadow: 2px 6px 12px;
	height: 30px;
}

.ssn_last_four {
	width: 400px;
	margin: auto;
	text-indent: 40px;
	margin-bottom: 20px;
	box-shadow: 2px 6px 12px;
	height: 30px;
}

.account_number {
	width: 400px;
	margin: auto;
	text-indent: 40px;
	margin-bottom: 20px;
	box-shadow: 2px 6px 12px;
	height: 30px;
}

.routing_number {
	width: 400px;
	margin: auto;
	text-indent: 40px;
	margin-bottom: 20px;
	box-shadow: 2px 6px 12px;
	height: 30px;
}

#fnameLabel {
	position: relative;
    right: 164px;
    bottom: 10px;
    color: white;
}

#lnameLabel {
	position: relative;
    right: 164px;
    bottom: 10px;
    color: white;
}

#address1Label {
	position: relative;
    right: 164px;
    bottom: 10px;
    color: white;
}

#address2Label {
	position: relative;
    right: 129px;
    bottom: 10px;
    color: white;
}

#birthLabel {
	position: relative;
    right: 156px;
    bottom: 10px;
    color: white;
}

#stateLabel {
	position: relative;
    right: 181px;
    bottom: 10px;
    color: white;
}

#cityLabel {
	position: relative;
    right: 187px;
    bottom: 10px;
    color: white;
}

#zipLabel {
	position: relative;
    right: 172px;
    bottom: 10px;
    color: white;
}

#ssnLabel {
	position: relative;
    right: 95px;
    bottom: 10px;
    color: white;
}

#accountLabel {
	position: relative;
    right: 141px;
    bottom: 10px;
    color: white;
}

#routeLabel {
	position: relative;
    right: 142px;
    bottom: 10px;
    color: white;
}

.dob_year::-webkit-input-placeholder {
  color: black;
  opacity: 1;
}

.updateButton {
	margin-bottom: 10px;
}
