.UprogressBox {
	width: 600px;
	margin: auto;
	margin-top: 40px;
	background: #384750;
	text-align: center;
	border-radius: 50px;
	padding: 10px;
}

.UprogressHead {
	color: white;
	text-shadow: 2px 2px #000;
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 30px;
}

.UjobBox {
	margin: 10px;
	width: 500px;
	margin: 8px;
	text-align: left;
	padding: 10px;
}

.UtitleBox {
	color: white;
}

.UpriceBox {
	color: white;
}

.UlocationBox {
	color: white;
}

.UdestinationBox {
	color: white;
}

.UphoneBox {
	color: white;
}

.UstatusBox {
	color: white;
}

.UmoverNameBox {
	color: white;
}

.UmoverPhoneBox {
	color: white;
}

.Utitle, .Uprice, .Ulocation, .Udestination, .Uphone, .Ustatus, .UmoverName, .UmoverPhone {
	color: white;
	text-decoration: underline;
}

.Ureport {
	background: red;
	color: white;
	cursor: pointer;
	margin-left: 142px;
}

.Ucomplete {
	background: green;
	color: white;
	cursor: pointer;
	margin-left: 12px;
}

.UreportGray {
	background: gray;
	color: lightgray;
	outline: none;
	margin-left: 142px;
}

.UcompleteGray {
	background: gray;
	color: lightgray;
	margin-left: 12px;
	outline: none;
}